version: '3.5'

services:
  hatch-glossary-web:
    container_name: hatch-glossary-web
    build:
      context: ./docker/nginx
      args:
        UID: $U_ID
    ports:
      - 1000:80
    volumes:
      - ./public:/appdata/www/public
    depends_on:
      - hatch-glossary-be
    networks:
      - hatch-glossary-network

  hatch-glossary-be:
    container_name: hatch-glossary-be
    build:
      context: docker/php
      args:
        UID: $U_ID
    volumes:
      - ./:/appdata/www
    ###> XDEBUG 3 ###
    # Use your client IP here
    # Linux: run "ip a | grep docker0"
    # Windows (with WSL2) and Mac: host.docker.internal
    environment:
      XDEBUG_CLIENT_HOST: 172.17.0.1
      XDEBUG_CLIENT_PORT: 9003
      PHP_IDE_CONFIG: serverName=hatch-glossary
    ports:
      - '1100:8000'
    networks:
      - hatch-glossary-network
    depends_on:
      - hatch-glossary-postgres
      
  hatch-glossary-postgres:
    container_name: hatch-glossary-postgres
    image: postgres:14-alpine
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: passwd
      POSTGRES_DB: postgres_symfony
    volumes:
      - hatch-glossary-pgsql-data:/var/lib/postgresql/data
    networks:
      - hatch-glossary-network

volumes:
  hatch-glossary-pgsql-data:
  hatch-glossary-mysql-data:

networks:
  hatch-glossary-network:
#    external: true
